<%- include('header') -%>

<div class="form_block">
  <div class="form_inner">

    <form action="/addData" method="post" class="personal_datail">
      <div class="form-group">
        <label for="userName">name</label>
        <input type="text" name="userName" class="form-control" placeholder="Enter Your Name" required />
      </div>
      <div class="form-group">
        <label for="email">email</label>
        <input type="email" name="email" class="form-control" placeholder="Enter Your Email" />
      </div>
      
      <div class="form-group">
        <label>Leave your comments below</label>
        <textarea class="input-textarea" name="userInfo" placeholder="Leave Your Comments"></textarea>
      </div>
  
      <div class="form-group">
        <button type="submit" name="submit" class="submit-button">Submit</button>
      </div>
    </form>
  </div>
</div>

<%- include('footer') -%>


    